.login-form-wrapper{
    margin: 20px auto;
    width: 50%;
}

.notification{
    float:right;
}

.feed-item{
    margin-bottom:20px;

    .footer-right{
        float: right;

        .send-proposal, .upvote-button, .downvote-button, .star-button{
            margin-right: 8px;
        }
        .upvote-button, .downvote-button, .star-button{
            border-style: none;
            background: transparent;
            outline: none;
            transition:all 0.1s;
            &:hover{
                color:rgb(245, 186, 26);
            }
        }
        .send-proposal{
            text-decoration: none;
            color: grey;
            &:hover{
                color:black;
            }
        }
    }

}


.message{
    margin-bottom: 30px;

    .message-footer{
        .message-timestamp{
            float: left;
        }
        .message-controls{
            float: right;
            span{
                margin: auto 8px;
            }
            .message-delete:hover{
                color: red;
            }
            .message-reply:hover{
                color: rgb(36, 172, 250)
            }
        }
    }
}