{% extends 'LB/partials/feed_base.html' %}
{% load static %}

{% block content%}

<div class="col-md-12">
  <h4>{{idea.title}}</h4>
  <hr>

  <h6>Created on {{idea.timestamp}}</h6>

  <div class="card p-4 my-4">{{idea.description}}</div>

  <h5>Proposals:</h5>

  {% for proposal in idea.proposals.all %}

    <div class="card my-4">
        <div class="card-header">
            {{proposal.sender}}
            <small>on <strong>{{proposal.timestamp}}</strong></small>
        
        </div>
        <div class="card-body">
          {{proposal.message}}
        </div>
    </div>

    <a class="btn btn-primary" href="{% url 'send-proposal' id_number=idea.id %}" >
      Send a Proposal
    </a>
    
{% empty %}

    <div class="alert alert-info">
      There are no Proposals for this idea yet.
    </div>
    <a class="btn btn-primary" href="{% url 'send-proposal' id_number=idea.id %}" >
      Be The First to Send a Proposal
    </a>

{% endfor %}

{% endblock %}


{% block additional_scripts %}
  <script>
    activate_navigation_link("home");
  </script>
{% endblock %}