{% extends 'LB/partials/feed_base.html' %}
{% load static %}

{% block content%}

{% for message in inbox_messages %}

  <div class="col-md-12">
    <div class="card message">
        <div class="card-header message-header">
            From: {{message.sender}}
        </div>
      <div class="card-body">
        <p class="card-text message-text">
          {{message.message}}
        </p>
      </div>
      <div class="card-footer message-footer">
          <div class="message-timestamp">
              <small><strong>{{message.timestamp}}</strong></small>
          </div>
        <div class="message-controls">
          <span data-message="{{message.sender.id}}" class="fa fa-reply message-reply"></span>
          <span data-message="{{message.id}}" class="fa fa-trash message-delete"></span>
        </div>
      </div>
    </div>
  </div>


{% empty %}
<div class="col-md-12">
  <div class="alert alert-info">
  No Messages to show.
  </div>
</div>


{% endfor%}


{% endblock %}


{% block additional_scripts %}
  <script>
    activate_navigation_link("home");
    activate_side_navigation_link("inbox");
  </script>
{% endblock %}