{% extends 'LB/partials/home_base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="modal fade" id="OAuthModal" tabindex="-1" role="dialog" aria-labelledby="createModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Sorry :( </h5>
      </div>
      <div class="modal-body">
        OAuth for Github and LinkedIn are currently in development.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <div class="login-form-wrapper">
      <form class="text-center border border-light p-5" action="{% url 'login' %}" method="post">
        {% csrf_token %}

          <p class="h4 mb-4">Log In</p>
          {% for error in form.non_field_errors %}
            <div class="alert alert-danger">{{error}}</div>
          {% endfor %}

          {% for field in form %}
          <!-- E-mail -->
          <div class="input-group mb-4">
            {% if field.errors %}

              {% render_field field class="form-control text-center is-invalid" %}
              {% for error in field.errors %}
                <div class="invalid-feedback">{{error}}</div>
              {% endfor %}

            {% else %}
              {% render_field field class="form-control text-center" %}
            {% endif %}
          </div>


          {% endfor %}

          <!-- Sign up button -->
          <button class="btn btn-info my-4 btn-block" type="submit">Sign in</button>

          <!-- Social register -->
          <p>or Sign In with:</p>

          <a href="#" class="mx-2" role="button" ><i class="fab fa-linkedin-in light-blue-text" data-toggle="modal" data-target="#OAuthModal"></i></a>
          <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text" data-toggle="modal" data-target="#OAuthModal"></i></a>

          <hr>

          <!-- Register -->
          <p>If you do not have an account, <a href="{% url 'register' %}">Sign Up</a> first</p>

  </div>

{% endblock %}

{% block additional_scripts %}
  <script>activate_navigation_link("login");</script>
{% endblock %}