<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lightbulbs - Idea Sharing Platform</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    
    <link rel="stylesheet" href="css/bootstrap4-wizardry.min.css">
    
    <link rel="stylesheet" href="css/styles.css">
    
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Roboto:300,400" rel="stylesheet">
    
    
  </head>
  <body>

  <div class="bg-dark navbar-dark text-white">
    <div class="container">
      <nav class="navbar px-0 navbar-expand-lg navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a href="#" class="navbar-brand text-white">
              <span class="fa fa-lightbulb text-warning mx-2"></span>
            LightBulbs</a>
            <a href="index.html" class="nav-link text-white">Home</a>
            <a href="app.html" class="text-decoration-none nav-link">My Profile</a> 
            <a href="form.html" class="text-decoration-none nav-link">Settings</a>
            <a href="form.html" class="text-decoration-none nav-link">Log Out</a>
          </div>
        </div>
      </nav>

    </div>
  </div>

  <div class="container py-5 mb5">

  <div class="row">
    <div class="col-md-3">
        <form class="mb-3">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Lightbulbs">
            <div class="input-group-append">
              <button type="submit" class="btn btn-primary">Search</button>
            </div>
          </div>
        </form>

        <div class="list-group">
          <button class="btn btn-primary my-2">
            <span class="fa fa-lightbulb text-warning mx-1">+</span>
            Create Lightbulb</button>
          <a href="#" class="list-group-item list-group-item-action"> Feed </a>
          <a href="#" class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center">
            Notifications
            <span class="badge badge-primary badge-pill ml-auto">14</span>
          </a>
          <a href="#" class="list-group-item active list-group-item-action d-flex justify-content-between align-items-center">
            Inbox
            <span class="badge badge-primary badge-pill ml-auto">1</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action">Sent Proposals

          </a>
          <a href="#" class="list-group-item list-group-item-action">My Ideas</a>
        </div>
    </div>
    <div class="col-md-9">

      <div class="row">
        <div class="col-md-12">
          <div class="card message">
              <div class="card-header message-header">
                  Hanif Ali
              </div>
            <div class="card-body">
              <p class="card-text message-text">
                Some quick example text to build on the card title
                and make up the bulk of the card's content.
              </p>
            </div>
            <div class="card-footer message-footer">
                <div class="message-timestamp">
                    <small>12:43PM Today</small>
                </div>
              <div class="message-controls">
                <span class="fa fa-reply message-reply"></span>
                <span class="fa fa-trash message-delete"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card">
              <div class="card-header">
                  Hanif Ali
              </div>
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title
                and make up the bulk of the card's content.
              </p>
            </div>
            <div class="card-footer">
                <div style="float: left">
                    <small>12:43PM Today</small>
                </div>
              <div style="float:right">
                <span class="fa fa-reply"></span>
                <span class="fa fa-trash"></span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>