<!-- Create Modal -->

<form action="{% url 'create-idea'%}" method="post">
{% csrf_token %}
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="#idea_title" class="col-form-label">Project/Idea Title:</label>
            <input required type="text" class="form-control" id="title" name="title">
          </div>
          <div class="form-group">
            <label for="#idea_description" class="col-form-label">Description:</label>
            <textarea required class="form-control" id="description" name="description"></textarea>
          </div>
          <div class="form-group">
            <label for="#idea_category" class="col-form-label">Category:</label>
            <input required type="text" name="category" placeholder="Technology, Charity, Music, etc." class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Create">
      </div>
    </div>
  </div>
</div>
</form>

