<div class="col-md-3">
    <form class="mb-3">
        <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Lightbulbs">
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
        </div>
    </form>

    <div class="list-group" id="user-side-navigation-links">

        <button class="btn btn-primary my-2" data-toggle="modal" data-target="#createModal">
            <span class="fa fa-lightbulb text-warning mx-1">+</span>
            Create Lightbulb
        </button>

        <a href="{% url 'feed' %}" class="list-group-item list-group-item-action" data-linkto="feed">Feed</a>
        <a href="{% url 'notifications' %}" data-linkto="notifications" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            Notifications
        </a>
        <a href="{% url 'inbox' %}" data-linkto="inbox" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            Inbox
        </a>
        <a href="{% url 'sent-proposals' %}" data-linkto="sent-proposals" class="list-group-item list-group-item-action">Sent Proposals</a>
        <a href="{% url 'my-ideas' %}" data-linkto="my-ideas" class="list-group-item list-group-item-action">My Ideas</a>
    </div>
</div>